.modal-title {
  color: white !important;
  font-family: "Oswald", sans-serif;
}

.modal-name {
  margin-top: 40px;
  font-family: "Lobster", cursive;
  color: white;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
